/** FONT STACKS **/
$body-font: 'Open Sans', Helvetica, sans-serif;
$header-font: 'Open Sans', Helvetica, sans-serif;
$code-font: 'Roboto Mono', Consolas, monospace;
$logo-font: 'Titillium Web', Helvetica, sans-serif;

/** COLOR SCHEME */
$base-color--prime: #506C6A;
/*---*/
$complement-color--prime: #445D73;
$complement-color--second: #4f83b0;
/*---*/
$light-color--prime: #FFFFFF;
$light-color--second: #EEEEEE;
$light-color--third: #CCCCCC;
/*---*/
$dark-color--prime: #333333;
$dark-color--second: #777777;

/** ANIMATION **/
$color-transition-time: 0.6s;
