@import 'bootstrap';
@import 'constants';
@import 'helpers';
@import 'md-editor';


/** BASIC CLICKABLE ACTION LINK/BUTTON TYPES */
.link {
	/**
	 * Abstract style for text that normally possess a blue color that changes to a lighter blue on mouse hover/click
	 */
	color: $complement-color--prime;
	@include transition(color $color-transition-time ease-out);
	cursor: pointer;

	&:hover, &:focus, &:active {
		color: $complement-color--second;
	}
}

.dark-link {
	/**
	 * Like .link, but posssess grey text that changes to black on mouse hover/click
	 */
	color: $dark-color--second;
	@include transition(color $color-transition-time ease-out);
	cursor: pointer;
	text-decoration: none;

	&:hover, &:focus, &:active {
		color: $dark-color--prime;
	}
}

.btn {
	background: none;
	color: $base-color--prime;
	border-color: $base-color--prime !important;
	border-radius: 0;
	font-weight: normal;
	@include transition(background $color-transition-time);
	cursor: pointer;

	&:hover, &:active, &:focus {
		background: $light-color--second;
		color: $base-color--prime;
	}
}

.header {
	/** Uses header font **/
	font-family: $header-font;
}

.sub-header {
	/** TODO **/
}

.secondary-header {
	/**
	 * A header that exists below another, more important header
	 */
	font-size: 0.85em;
	line-height: 0.85em;
	text-transform: uppercase;
	color: $base-color--prime;
	font-weight: bold;
	padding-left: $spacing-xxs;
}


/** TYPOGRAPHY **/
* {
	font-family: $body-font;
	outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
	@extend .header;
}


/** BASIC ELEMENTS */
a {
	@extend .link;
	font-weight: bold;
}

hr.small-margins {
	margin-top: $spacing-lg;
	margin-bottom: $spacing-lg;
}

textarea {
	resize: vertical;
}

.form-control {
	border-radius: 0;
	box-shadow: none !important;
	@include transition(border-color $color-transition-time);

	&:focus {
		border-color: $base-color--prime;
	}
}


/** PAGE STRUCTURE **/
html, body {
	/* Insure that everything is sized correctly */
	height: 100%;

	#wrap {
		display: flex;
		flex-flow: column;
		height: 100%;

		#page-content {
			flex: 1 0 auto;
			margin-bottom: 60px;
		}
	}
}

.content-header {
	margin: 0;
	padding-top: $spacing-md;
	padding-bottom: $spacing-lg;
	border-bottom: 1px solid $light-color--second;

	.parent-link {
		font-size: 0.5em;
		color: $dark-color--second;

		a {
			text-decoration: none !important;
		}
	}

	.actions {
		float: right;
		font-size: 0.8em;
		margin-top: 4px;

		a {
			@extend .dark-link;
			margin-left: 15px;
		}
	}

	&.no-content-action-bar {
		margin-bottom: $spacing-lg;
	}
}

.content-action-bar {
	border-bottom: 1px solid $light-color--second;
	margin-bottom: $spacing-xl;
	padding-top: $spacing-md;
	padding-bottom: $spacing-md;

	a:not(.unstyled) {
		@extend .dark-link;
		margin-left: $spacing-lg;
		text-decoration: none;

		&.active {
			color: $base-color--prime !important;
			text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
		}
	}

	*.pull-right a:not(.unstyled), a:not(.unstyled).pull-right {
		margin-left: 0;
		margin-right: $spacing-lg;
	}
}

.content-body {
	.content-section {
		margin-top: $spacing-xxl + $spacing-md;

		&:first-child {
			margin-top: 0;/*$spacing-xl + $spacing-sm;*/
		}
	}

	&.content-body-form {
		.content-section {
			margin-top: $spacing-xl;

			&:first-child {
				margin-top: $spacing-lg;
			}

			.title {
				line-height: initial;
			}
		}
	}

	.title {
		@extend .secondary-header;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: $spacing-md;
		color: $base-color--prime;
	}

	h1 {
		font-weight: bold;
		font-size: 1.6em;
		color: $dark-color--prime;
	}

	h2 {
		border-bottom: 1px solid $light-color--third;
		font-size: 1.6em;
		padding-bottom: $spacing-sm;
		padding-left: $spacing-xs;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1.2em;
	}
}


/** COMPLEX ELEMENTS **/
.block-list {
	@extend .panel-group;

	.list-item {
		@extend .panel;
		border-radius: 0 !important;
		margin-top: -1px !important;
		border-color: $light-color--third;
		padding: 0;

		.list-item-heading {
			@extend .panel-heading;
			background: #fff;
			border-color: $light-color--third;
			padding: 0;

			.list-item-heading-title {
				display: block;
				padding: $spacing-lg $spacing-xl;
				@include transition(background-color $color-transition-time);

				&:hover, &:active, &:focus {
					background-color: $light-color--second;
				}

				.list-item-info {
					/**
					 * A little greyed-out blurb of text that will show up at the right edge of the box.
					 * Good for displaying statistics about the item the .list-item is representing
					 * 		e.g. if the .list-item was representing a notebook, .list-item-info
					 *			 could be used to display the number of notes in the notebook.
					 */
					@extend .pull-right;
					color: $dark-color--second !important;
					font-size: 0.85em;
					line-height: 1.7em;
					margin-left: $spacing-xxl;

					.fa {
						font-size: 1em;
					}
				}
			}

			.list-item-action {
				/**
				 * An action button that will show up at the right edge of the .list-item
				 * e.g. an arrow to go to the more details page about the item in question,
				 *      or a different arrow to expand the accordian associated with the item.
				 */
				@extend .dark-link, .pull-right;
				padding: $spacing-lg $spacing-xl;
				padding-left: $spacing-xxl;
			}
		}
	}
}

.info-footer {
	/**
	 * Footer for the bottom of cards and panels that displays info/stats in a spaced out format
	 * e.g. for a note, the info footer at the bottom of the note card could display
	 *      the created date, author, # of comments, etc. along with a comment button
	 */
	font-size: 0.9em;
	margin-bottom: $spacing-xxs;
	padding: 0 $spacing-xxs;

	.info-blurb {
		color: $dark-color--second;
		margin-right: $spacing-lg + $spacing-xs;
	}

	a {
		@extend .dark-link;
	}
}


/** OTHER STUFF **/
.alert {
	border-radius: 0;
}

.list-group .list-group-item {
	border-radius: 0;
}

.dropdown-menu {
	border-radius: 0;
}

.modal-content {
	border-radius: 0;
}

.panel {
	border-radius: 0 !important;
}

.nav-pills a {
	border-radius: 0 !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background: rgba(0, 0, 0, 0.1);
}

.navbar .dropdown-menu a {
	color: #333 !important;
}

.navbar .dropdown-menu a:hover {
	color: #333 !important;
}

a {
	cursor: pointer !important;
}


/** Project tab structuer **/


.project-tab-comment {
	background: #f0f0f0;
	padding: 30px;
	margin-top: 20px;
}

.project-tab-comment:first-child {
	margin-top: 15px;
}


/** Specialized Elements **/

.icon-btn {
	display: block;

	text-decoration: none !important;
	font-weight: normal;
	text-align: center;
	color: $dark-color--prime;
	font-size: 0.9em;

	padding: 10px 0;

	.fa {
		font-size: 2.2em;
		color: inherit;
	}
}

.fa-full-size {
	font-size: 1em !important;
}

.icon-btn.active {
	background: $light-color--second;
	color: #333 !important;
}

.license {
	margin-top: 80px;
	padding-bottom: 40px;

	img {
		margin-bottom: 10px;
	}

	hr {
		background: #ccc;
		border-color: #ccc;
	}
}

.form-container {
	max-width: 300px;
	padding: 0;
	text-align: center;
}

.form-container h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-container .form-group {
	margin-bottom: 0;
}

.form-container * {
	position: relative;
}

.form-container .form-group > input {
	z-index: 1;
}

.form-container .form-group > input:not(.first).input-group {
	margin-top: -1px;
}

.form-container .form-group > input:focus {
	z-index: 3;
}

.form-container .form-group.has-error > input {
	z-index: 2;
}

.form-container .checkbox {
	margin-top: 20px;
	margin-bottom: 20px;
}

.card-list-item {
	padding: 30px;
	border: 1px solid #ddd;
    margin-top: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.card-list-item h3 {
	margin-top: 0;
}

.card-list-item h3 a:not(.btn-muted) {
	color: #000;
}

.card-list-item-actions a {
	margin-right: 15px;
	color: #777;
	text-decoration: none !important;
}

.card-list-item-actions a:hover {
	color: #333;
}

.card-list-item-actions a .fa {
	font-size: 0.9em;
}

.btn-muted {
	@extend .dark-link;
	cursor: pointer;
}

.btn-muted .fa:not(.unstyled) {
	font-size: 0.8em;
}


/** Headers **/

.navbar {
	flex: 0 1 auto;

	margin-bottom: 0;
	border-bottom: none;
	background: $base-color--prime;
	box-shadow: inset 0 -7px 8px -7px rgba(0, 0, 0, 0.4);

	.navbar-brand {
		font-family: $logo-font;
	}

	a {
		font-family: $header-font;
		font-weight: normal;
		color: $light-color--prime !important;
	}

	a:hover {
		color: $light-color--second !important;
	}
}

.page-intro {
	text-align: center;

	background: url('/static/stars.png');
	background-attachment: fixed;

	margin-bottom: 0;

	border-bottom: 4px solid $base-color--prime;

	* {
		color: $light-color--second;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	.title {
		font-family: $logo-font;
	}

	.sub-title {
		font-family: $header-font;
		color: $light-color--third;
	}

	.icon-btn {
		cursor: pointer;
	}

	.icon-btn:hover, .icon-btn:active, .icon-btn:focus {
		color: $complement-color--prime;
	}


	.actions {
		margin-top: 24px;

		.btn {
			border-radius: 0;
			font-family: $body-font, sans-serif;
			border-color: $light-color--third !important;
			background: $base-color--prime;
			color: $light-color--second;

			margin-right: 3px;
			margin-left: 3px;
		}

		.btn-grey {
			background: $complement-color--prime;
		}

		.btn:hover, .btn:active, .btn:focus {
			background: $dark-color--second;
			color: $light-color--second;
		}
	}
}

.page-intro.small-margins {
	padding: 24px 0;
}

.page-title-centered {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


/** Special Unique Elements **/

#overview {
	border-bottom: 4px solid $base-color--prime;
	padding: 30px 0;

	p {
		margin-bottom: 0;
	}
}

#features {
	font-family: $body-font;
	padding-top: 10px;
	padding-bottom: 20px;
	background: #f0f0f0;
	border-bottom: 1px solid #ccc;
}

#features .row {
	margin-top: 10px;
}

#features .row:last-child {
	margin-bottom: 10px;
}

#features h2 {
	font-family: $header-font;
	font-size: 1.8em;
	color: $complement-color--prime;
}

#features h2 .fa-stack {
	font-size: 2.3em;
	margin-bottom: 10px;
}

#project-nav {
	padding: 8px 0;
	border-right: 1px solid $light-color--second;
}

.project-link {
	text-decoration: none !important;
	color: #333 !important;
	background: #f0f0f0;
	display: block;
	padding: 8px 15px;
	margin-bottom: 20px;
	border: 1px solid #c0c0c0;
}

.project-link:hover {
	border-color: #999;
}

.project-link h3 {
	margin-top: 0;
}

.project-link p {
	margin-bottom: 0;
}

#footer {
	box-sizing: border-box;
	background: #f0f0f0;
	flex: 0 1 auto;
	padding-top: 40px;
}

#footer > * {
	background: #f0f0f0;
	padding-bottom: 30px;
}

#footer .links {
	margin-bottom: 10px;
}

#footer .links a {
	margin-right: 12px;
	color: #333;
}

.breadcrumb {
	margin-top: 20px;
}

.collapse-toggle, .collapse-toggle:focus {
	color: $dark-color--prime;
	text-decoration: none !important;
}

.collapse-toggle:hover, .collapse-toggle:active {
	color: $dark-color--second;
}

/** Code **/
.codehilitetable > tbody > tr > td {
	/* Override md-editor's default table padding and border */
	border: none !important;
	padding: 0 !important;
}

.codehilite, .linenodiv {
	margin-top: 10px;
	margin-bottom: 10px;
}

.codehilite pre {
	padding: 16px;
}

.codehilite pre, .linenodiv pre {
	border-radius: 0;
	border: none;
	font-family: $code-font;
	margin-bottom: 0;
}

.linenodiv pre {
	background: #e5e5e5;
	color: #333;
	padding-top: 16px;
	padding-bottom: 16px;
}

.codehilite pre > span {
	font-family: $code-font;
}
