/** FONT STACKS **/
/** COLOR SCHEME */
/*---*/
/*---*/
/*---*/
/** FONT STACKS **/
/** COLOR SCHEME */
/*---*/
/*---*/
/*---*/
.editor-toolbar {
  border-radius: 0;
  border-color: #ccc;
  opacity: 1 !important;
  /* Alight help and preview buttons to the right edge of the toolbar */ }
  .editor-toolbar .fa-question-circle {
    float: right;
    color: #f00; }

.editor-toolbar > a {
  color: #3F4E72 !important;
  padding-bottom: 28px; }

.editor-toolbar:hover > a {
  color: #337AB7 !important; }

.editor-toolbar > a:hover, .editor-toolbar > a.active {
  border-radius: 0;
  border-color: #aaa; }

.editor-toolbar .popover {
  top: 38px !important;
  border-radius: 0;
  text-align: center;
  border-color: #ccc; }

.editor-toolbar .popover .arrow {
  border-bottom-color: #a3a3a3; }

.editor-toolbar .popover .popover-title {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-color: #ddd;
  margin-left: -1px;
  margin-right: -1px; }

.editor-toolbar .popover .popover-content {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin-left: -1px;
  margin-right: -1px; }

.editor-toolbar .popover .popover-tabs {
  margin-top: -9px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px; }
  .editor-toolbar .popover .popover-tabs button {
    font-weight: bold;
    color: #777;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px; }
  .editor-toolbar .popover .popover-tabs button:hover, .editor-toolbar .popover .popover-tabs button:focus {
    color: #506C6A;
    text-decoration: none;
    border-radius: 0; }
  .editor-toolbar .popover .popover-tabs button.active {
    color: #506C6A;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); }

.editor-toolbar .popover .popover-content .popover-body {
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 9px; }
  .editor-toolbar .popover .popover-content .popover-body .btn-insert {
    margin-top: 10px;
    padding: 0;
    padding-right: 2px;
    width: 100%;
    height: auto;
    font-weight: bold;
    color: #777 !important;
    border: none !important;
    text-align: right; }
  .editor-toolbar .popover .popover-content .popover-body .btn-insert:hover {
    color: #333 !important; }

.CodeMirror {
  border-radius: 0;
  border-color: #ccc; }

.CodeMirror, .CodeMirror-scroll {
  min-height: 190px; }

.editor-statusbar span {
  min-width: unset;
  margin-left: 2em; }

.editor-statusbar {
  padding-bottom: 0; }

/** ABSTRACT STYLES - should not be used directly in .html (should only be inherited by other .scss styles) */
.link, a {
  /**
   * Abstract style for text that normally possess a blue color that changes to a lighter blue on mouse hover/click
   */
  color: #3F4E72; }
  .link:hover, a:hover, .link:focus, a:focus, .link:active, a:active {
    color: #337AB7; }

.dark-link, .project-tab-header .actions a, .project-tab-actions a:not(.unstyled) {
  /**
   * Like .link, but posssess grey text that changes to black on mouse hover/click
   */
  color: #777777; }
  .dark-link:hover, .project-tab-header .actions a:hover, .project-tab-actions a:hover:not(.unstyled), .dark-link:focus, .project-tab-header .actions a:focus, .project-tab-actions a:focus:not(.unstyled), .dark-link:active, .project-tab-header .actions a:active, .project-tab-actions a:active:not(.unstyled) {
    color: #337AB7; }

.header, h1, h2, h3, h4, h5, h6 {
  /** Uses header font **/
  font-family: "Open Sans", Helvetica, sans-serif; }

.sub-header {
  /** TODO **/ }

.secondary-header, .content-body .content-section .title {
  /**
   * A header that exists below another, more important header
   */
  font-size: 0.85em;
  line-height: 0.85em;
  text-transform: uppercase;
  color: #506C6A;
  font-weight: bold; }

/** TYPOGRAPHY **/
* {
  font-family: "Open Sans", Helvetica, sans-serif;
  outline: none !important; }

/** BASIC ELEMENTS */
a {
  font-weight: bold; }

.btn {
  background: none;
  color: #506C6A;
  border-color: #506C6A;
  border-radius: 0;
  font-weight: normal; }
  .btn:hover, .btn:active, .btn:focus {
    background: #506C6A;
    color: #FFFFFF; }

textarea {
  resize: vertical; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }
  .form-control:focus {
    border-color: #506C6A; }

/** PAGE STRUCTURE **/
html, body {
  /* Insure that everything is sized correctly */
  height: 100%; }
  html #wrap, body #wrap {
    display: flex;
    flex-flow: column;
    height: 100%; }
    html #wrap #page-content, body #wrap #page-content {
      flex: 1 0 auto;
      margin-bottom: 60px; }

/** TODO: refactor **/
.project-tab-header {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 16px;
  border-bottom: 1px solid #EEEEEE; }
  .project-tab-header .parent-link {
    font-size: 0.5em;
    color: #f00; }
  .project-tab-header .actions {
    float: right;
    font-size: 0.8em;
    margin-top: 4px; }
    .project-tab-header .actions a {
      margin-left: 15px; }

.project-tab-header.no-action-bar {
  margin-bottom: 16px; }

.project-tab-actions {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 20px;
  padding-top: 14px;
  padding-bottom: 14px; }
  .project-tab-actions a:not(.unstyled) {
    margin-left: 15px;
    text-decoration: none; }
    .project-tab-actions a:not(.unstyled).active {
      color: #506C6A !important;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); }
  .project-tab-actions *.pull-right a:not(.unstyled), .project-tab-actions a:not(.unstyled).pull-right {
    margin-left: 0;
    margin-right: 15px; }

.content-body .content-section {
  margin-top: 48px; }
  .content-body .content-section:first-child {
    margin-top: 24px; }
.content-body.content-body-form .content-section {
  margin-top: 28px; }
  .content-body.content-body-form .content-section:first-child {
    margin-top: 16px; }
  .content-body.content-body-form .content-section .title {
    line-height: initial; }

/** OTHER STUFF **/
.alert {
  border-radius: 0; }

.list-group .list-group-item {
  border-radius: 0; }

.dropdown-menu {
  border-radius: 0; }

.modal-content {
  border-radius: 0; }

.panel {
  border-radius: 0 !important; }

.nav-pills a {
  border-radius: 0 !important; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background: rgba(0, 0, 0, 0.1); }

.navbar .dropdown-menu a {
  color: #333 !important; }

.navbar .dropdown-menu a:hover {
  color: #333 !important; }

a {
  cursor: pointer !important; }

/** Project tab structuer **/
.project-tab-list .panel {
  border-radius: 0 !important;
  margin-top: -1px !important; }
.project-tab-list .panel-heading {
  background: #fff; }
.project-tab-list .accordion-toggle .fa {
  font-size: 1em !important; }

.project-tab-comment {
  background: #f0f0f0;
  padding: 30px;
  margin-top: 20px; }

.project-tab-comment:first-child {
  margin-top: 15px; }

/** Specialized Elements **/
.icon-btn {
  display: block;
  text-decoration: none !important;
  font-weight: normal;
  text-align: center;
  color: #333333;
  font-size: 0.9em;
  padding: 10px 0; }
  .icon-btn .fa {
    font-size: 2.2em;
    color: inherit; }

.fa-full-size {
  font-size: 1em !important; }

.icon-btn.active {
  background: #EEEEEE;
  color: #333 !important; }

.license {
  margin-top: 80px;
  padding-bottom: 40px; }
  .license img {
    margin-bottom: 10px; }
  .license hr {
    background: #ccc;
    border-color: #ccc; }

.form-container {
  max-width: 300px;
  padding: 0;
  text-align: center; }

.form-container h2 {
  margin-top: 20px;
  margin-bottom: 20px; }

.form-container .form-group {
  margin-bottom: 0; }

.form-container * {
  position: relative; }

.form-container .form-group > input {
  z-index: 1; }

.form-container .form-group > input:not(.first).input-group {
  margin-top: -1px; }

.form-container .form-group > input:focus {
  z-index: 3; }

.form-container .form-group.has-error > input {
  z-index: 2; }

.form-container .checkbox {
  margin-top: 20px;
  margin-bottom: 20px; }

.card-list-item {
  padding: 30px;
  border: 1px solid #ddd;
  margin-top: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }

.card-list-item h3 {
  margin-top: 0; }

.card-list-item h3 a:not(.btn-muted) {
  color: #000; }

.card-list-item-actions a {
  margin-right: 15px;
  color: #777;
  text-decoration: none !important; }

.card-list-item-actions a:hover {
  color: #333; }

.card-list-item-actions a .fa {
  font-size: 0.9em; }

.btn-muted {
  color: #777;
  cursor: pointer; }

.btn-muted:hover {
  color: #333; }

.btn-muted .fa:not(.unstyled) {
  font-size: 0.8em; }

/** Headers **/
.navbar {
  flex: 0 1 auto;
  margin-bottom: 0;
  border-bottom: none;
  background: #506C6A;
  box-shadow: inset 0 -7px 8px -7px rgba(0, 0, 0, 0.4); }
  .navbar .navbar-brand {
    font-family: "Titillium Web", Helvetica, sans-serif; }
  .navbar a {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: normal;
    color: #FFFFFF !important; }
  .navbar a:hover {
    color: #EEEEEE !important; }

.page-intro {
  text-align: center;
  background: url("/static/stars.png");
  background-attachment: fixed;
  margin-bottom: 0;
  border-bottom: 4px solid #506C6A; }
  .page-intro * {
    color: #EEEEEE; }
  .page-intro h1, .page-intro h2, .page-intro h3, .page-intro h4, .page-intro h5, .page-intro h6 {
    margin-top: 0; }
  .page-intro .title {
    font-family: "Titillium Web", Helvetica, sans-serif; }
  .page-intro .sub-title {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #CCCCCC; }
  .page-intro .icon-btn {
    cursor: pointer; }
  .page-intro .icon-btn:hover, .page-intro .icon-btn:active, .page-intro .icon-btn:focus {
    color: #3F4E72; }
  .page-intro .actions {
    margin-top: 24px; }
    .page-intro .actions .btn {
      border-radius: 0;
      font-family: "Open Sans", Helvetica, sans-serif, sans-serif;
      border-color: #CCCCCC !important;
      background: #506C6A;
      color: #EEEEEE;
      margin-right: 3px;
      margin-left: 3px; }
    .page-intro .actions .btn-grey {
      background: #3F4E72; }
    .page-intro .actions .btn:hover, .page-intro .actions .btn:active, .page-intro .actions .btn:focus {
      background: #777777;
      color: #EEEEEE; }

.page-intro.small-margins {
  padding: 24px 0; }

.page-title-centered {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

/** Special Unique Elements **/
#overview {
  border-bottom: 4px solid #506C6A;
  padding: 30px 0; }
  #overview p {
    margin-bottom: 0; }

#features {
  font-family: "Open Sans", Helvetica, sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc; }

#features .row {
  margin-top: 10px; }

#features .row:last-child {
  margin-bottom: 10px; }

#features h2 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1.8em;
  color: #3F4E72; }

#features h2 .fa-stack {
  font-size: 2.3em;
  margin-bottom: 10px; }

#project-nav {
  padding: 8px 0;
  border-right: 1px solid #EEEEEE; }

.project-link {
  text-decoration: none !important;
  color: #333 !important;
  background: #f0f0f0;
  display: block;
  padding: 8px 15px;
  margin-bottom: 20px;
  border: 1px solid #c0c0c0; }

.project-link:hover {
  border-color: #999; }

.project-link h3 {
  margin-top: 0; }

.project-link p {
  margin-bottom: 0; }

#footer {
  box-sizing: border-box;
  background: #f0f0f0;
  flex: 0 1 auto;
  padding-top: 40px; }

#footer > * {
  background: #f0f0f0;
  padding-bottom: 30px; }

#footer .links {
  margin-bottom: 10px; }

#footer .links a {
  margin-right: 12px;
  color: #333; }

.breadcrumb {
  margin-top: 20px; }

.collapse-toggle, .collapse-toggle:focus {
  color: #333333;
  text-decoration: none !important; }

.collapse-toggle:hover, .collapse-toggle:active {
  color: #777777; }

/** Code **/
.codehilitetable > tbody > tr > td {
  /* Override md-editor's default table padding and border */
  border: none !important;
  padding: 0 !important; }

.codehilite, .linenodiv {
  margin-top: 10px;
  margin-bottom: 10px; }

.codehilite pre {
  padding: 16px; }

.codehilite pre, .linenodiv pre {
  border-radius: 0;
  border: none;
  font-family: "Roboto Mono", Consolas, monospace;
  margin-bottom: 0; }

.linenodiv pre {
  background: #e5e5e5;
  color: #333;
  padding-top: 16px;
  padding-bottom: 16px; }

.codehilite pre > span {
  font-family: "Roboto Mono", Consolas, monospace; }

/*# sourceMappingURL=style.css.map */
