{% extends "project_base.html" %}

{% block p_head %}
    <script type="text/javascript" src="/js/preview.js"></script>
{% endblock %}

{% block p_content %}
    <h2 class="project-tab-header no-action-bar">
        {% if action=="Edit" %}
            <div class="parent-link">
                <a href="/{{project.key.integer_id()}}/notebooks/{{notebook.key.integer_id()}}">
                    {{notebook.name | safe}}
                </a>
            </div>
        {% endif %}

        {% if action=="New" %}
            New Notebook
        {% else %}
            Edit Notebook
        {% endif %}
        <a href="#project-menu" class="skiptocontent">Skip to project menu</a>
    </h2>

    <form method="post" role="form" class="vertical-form">
        <div class="form-group {{nClass}}">
            <label for="name">Notebook's Title</label>
            <input type="text" name="name" class="form-control input-lg" value="{{n_name}}" autofocus {% if visitor_p %}disabled{% endif %}/>
        </div>

        <div class="form-group {{dClass}}">
            <label for="name">Notebook's Description</label>
            <textarea name="description" id="inputText" class="form-control" rows="10"{% if visior_p %} disabled{% endif %}>{{n_description}}</textarea>
        </div>

        <b>Notebook Visiblity</b>
        <br>
        <small class="text-muted">
            <span class="fa fa-info-circle"></span> About
            <a href="https://en.wikipedia.org/wiki/Open_Notebook_Science" target="_blank">
                open notebooks in science</span>
            </a>
            <!--
            Bad link:

            and
            <a href="https://onsclaims.wikispaces.com/" target="_blank">
                this set of icons <span class="fa fa-external-link"></span>
            </a>
            -->
        </small>

        <hr style="margin: 10px 0;">

        <div class="radio">
            <label>
                <input type="radio" name="claims" value="ONS-ACI" {% if n_claims == "ONS-ACI" %}checked{% endif %}/>
                Open notebook
                <br>
                <span class="text-muted">
                    Publicly visible; All content is reported as close to real time as possible.
                </span>
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="claims" value="ONS-ACD" {% if n_claims == "ONS-ACD" %}checked{% endif %}/>
                Open notebook
                <br>
                <span class="text-muted">
                    Publicly visible; All content is reported but with a significant delay.
                </span>
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="claims" value="ONS-SCI" {% if n_claims == "ONS-SCI" %}checked{% endif %}/>
                Open notebook
                <br>
                <span class="text-muted">
                    Publicly visible; Only some selected content is reported as close to real time as possible.
                </span>
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="claims" value="ONS-SCD" {% if n_claims == "ONS-SCD" %}checked{% endif %}/>
                Open notebook
                <br>
                <span class="text-muted">
                    Publicly visible; Only some selected content is reported and with a significant delay.
                </span>
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="claims" value="CNS" {% if n_claims == "CNS" %}checked{% endif %}/>
                Closed notebook
                <br>
                <span class="text-muted">
                    Only members of this project will be able to see the content.
                </span>
            </label>
        </div>

        <hr style="margin: 10px 0;">

        {% if not action=="Edit" %}
            <div class="form-group checkbox">
                <label>
                    <input type="checkbox" name="shared_p" value="True" checked/>
                    <strong>Shared Notebook?</strong>
                    <br>
                    <span class="text-muted">
                        If checked, every author in this project can write in the notebook.
                    </span>
                </label>
            </div>
        {% endif %}

        <div class="form-group">
            <button type="submit" class="btn btn-success" {% if visitor_p %}disabled="disabled"{% endif %}>{{button_text}}</button>
        </div>

        {% if error_message %}
            <div class="alert alert-danger alert-dismissable" style="margin-top:5px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{error_message | safe}}
            </div>
        {% endif %}

        {% include "md_editor_setup.html" %}
{% endblock %}
