{% extends "project_base.html" %}

{% block p_head %}
    <script type="text/javascript" src="/js/preview.js"></script>
{% endblock %}

{% block p_content %}
    <h2 class="project-tab-header no-action-bar">
        {% if parent_link_text %}
            <div class="parent-link">
                <a href="{{parent_link_url}}">
                    {{parent_link_text | safe}}
                </a>
            </div>
        {% endif %}

        {{title | safe}}
        <a href="#project-menu" class="skiptocontent">Skip to project menu</a>

        <div class="actions">
            <a onclick="$('#project-name-description-form').submit();" href="#">
                <span class="fa fa-floppy-o"></span>
            </a>
        </div>
    </h3>

    {% if error_message %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{error_message | safe}}
        </div>
    {% endif %}

    <form method="post" role="form" id="project-name-description-form">
        <div class="form-group {{nClass}}">
            <input type="text" name="name" class="form-control input-lg" value="{{name_value}}" placeholder="{{name_placeholder}}" autofocus {% if disabled_p %}disabled{% endif %}/>
        </div>
        <div class="form-group {{cClass}}">
            <textarea name="content" id="inputText" class="md-editor" placeholder="{{content_placeholder}}" {% if disabled_p %}disabled{% endif %}>{{content_value}}</textarea>
        </div>
    </form>

    <div id="link-popover" class="hidden">
        <div class="popover-tabs">
            <button class="btn btn-link active">To Webpage</button>
            <button class="btn btn-link" disabled>To Wiki Page</button>
        </div>
        <div class="popover-body form-container">
            <div class="form-group">
                <input type="url" id="link-popover-url" class="form-control input-block input-group first" placeholder='Link url (include "http://")'>
            </div>
            <div class="form-group">
                <input type="text" id="link-popover-text" class="form-control input-block input-group" placeholder="Link text">
            </div>
            <a class="btn btn-link btn-insert" onclick="mdEditorInsertLink()">
                Insert Link
            </a>
        </div>
    </div>

    <div id="image-popover" class="hidden">
        <div class="popover-tabs">
            <button class="btn btn-link active">From Web</button>
            <button class="btn btn-link" disabled>Upload</button>
        </div>
        <div class="popover-body form-container">
            <div class="form-group">
                <input type="url" class="form-control input-block input-group first" id="image-popover-url" placeholder='Image url (include "http://")'>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-block input-group" id="image-popover-title" placeholder="Image title (optional)">
            </div>
            <a class="btn btn-link btn-insert" onclick="mdEditorInsertImage()">
                Insert Image
            </a>
        </div>
    </div>

    <script>
        var mdEditor = new SimpleMDE({
            element: $(".md-editor")[0],
            spellChecker: false,
            renderingConfig: {
                codeSyntaxHighlighting: true
            },
            toolbar: [
                "bold",
                "italic",
                "|",
                {
                    name: "link",
                    action: function() {},
                    className: "fa fa-link",
                    title: "Insert Link (Ctrl+K)"
                },
                {
                    name: "image",
                    action: function() {},
                    className: "fa fa-picture-o",
                    title: "Insert Image (Ctrl+Alt+I)"
                },
                "|",
                "quote",
                "unordered-list",
                "ordered-list",
                "|",
                "preview",
                {
                    name: "side-by-side",
                    action: function() {
                        $(".navbar").hide();
                        mdEditor.toggleSideBySide();
                    },
                    className: "fa fa-columns no-disable no-mobile",
                    title: "Toggle Side by Side (F9)"
                },
                {
                    name: "fullscreen",
                    action: function() {
                        $(".navbar").toggle();
                        mdEditor.toggleFullScreen();
                    },
                    className: "fa fa-arrows-alt no-disable no-mobile",
                    title: "Toggle Fullscreen (F11)"
                },
                "|",
                {
                    name: "guide",
                    action: "/static/edit_help.html",
                    className: "fa fa-question-circle",
                    title: "Markdown Guide"
                },
            ]
        });

        // Setup md-editor popovers
        $(function() {
            $(".editor-toolbar a.fa-link").popover({
                title: "Insert Link",
                placement: "bottom",
                html: true,
                trigger: "click",
                content: $("#link-popover").html()
            });
            $(".editor-toolbar a.fa-picture-o").popover({
                title: "Insert Image",
                placement: "bottom",
                html: true,
                trigger: "click",
                content: $("#image-popover").html()
            });
        });

        // Setup md-editor submission/insert button click events
        var mdEditorInsertLink = function() {
            mdEditor.options.insertTexts.link = ["", "[" + $("#link-popover-text").val() + "](" + $("#link-popover-url").val() + ")"];
            mdEditor.drawLink(mdEditor);
            $(".editor-toolbar a.fa-link").popover('hide');
        }
        var mdEditorInsertImage = function() {
            mdEditor.options.insertTexts.image = ["", "![" + $("#image-popover-title").val() + "](" + $("#image-popover-url").val() + ")"];
            mdEditor.drawImage(mdEditor);
            $(".editor-toolbar a.fa-picture-o").popover('hide');
        }
    </script>
{% endblock %}
