{% extends "project_base.html" %}

{% block p_head %}
    <script type="text/javascript" src="/js/preview.js"></script>
{% endblock %}

{% block p_content %}
    <h2 class="project-tab-header no-action-bar">
        {% if parent_link_text %}
            <div class="parent-link">
                <a href="{{parent_link_url}}">
                    {{parent_link_text | safe}}
                </a>
            </div>
        {% endif %}

        {{title | safe}}
        <a href="#project-menu" class="skiptocontent">Skip to project menu</a>

        <div class="actions">
            <a onclick="$('#project-name-description-form').submit();" href="#">
                <span class="fa fa-floppy-o"></span>
            </a>
        </div>
    </h3>

    <form method="post" role="form" id="project-name-description-form">
        <div class="form-group {{nClass}}">
            <input type="text" name="name" class="form-control input-lg" value="{{name_value}}" placeholder="{{name_placeholder}}" autofocus {% if disabled_p %}disabled{% endif %}/>
        </div>
        <div class="form-group {{cClass}}">
            <textarea name="content" id="inputText" class="md-editor" placeholder="{{content_placeholder}}" {% if disabled_p %}disabled{% endif %}>{{content_value}}</textarea>
        </div>
    </form>

    <div id="image-popover">
        <button class="btn btn-link">From web</button> <button class="btn btn-link">Upload</button>
        <br>
        <input type="text" class="form-control input-block" placeholder="Image url">
        <br>
        <button class="btn btn-default">Insert</button>
    </div>

    <script>
        var mdEditor = new SimpleMDE({
            element: $(".md-editor")[0],
            spellChecker: false,
            toolbar: [
                "bold",
                "italic",
                "|",
                "link",
                {
                    name: "image",
                    action: function() {
                    },
                    className: "fa fa-picture-o",
                    title: "Insert Image (Ctrl+Alt+I)"
                },
                "|",
                "quote",
                "unordered-list",
                "ordered-list",
                "|",
                "preview",
                {
                    name: "side-by-side",
                    action: function() {
                        $(".navbar").hide();
                        mdEditor.toggleSideBySide();
                    },
                    className: "fa fa-columns no-disable no-mobile",
                    title: "Toggle Side by Side (F9)"
                },
                {
                    name: "fullscreen",
                    action: function() {
                        $(".navbar").toggle();
                        mdEditor.toggleFullScreen();
                    },
                    className: "fa fa-arrows-alt no-disable no-mobile",
                    title: "Toggle Fullscreen (F11)"
                },
                "|",
                {
                    name: "guide",
                    action: "/static/edit_help.html",
                    className: "fa fa-question-circle",
                    title: "Markdown Guide"
                },
            ]
        });

        $(function () {
            $(".editor-toolbar a.fa-picture-o").popover({
                title: "Insert Image",
                placement: "bottom",
                html: true,
                content: $("#image-popover").html()
            })
        });
    </script>
{% endblock %}
